<%= provide(:title, @user.name) %>
<div class="row m-5">
  <aside class="col-md-4">
    <div class="d-flex user-profile">
      <%= gravatar_for(@user, size:80) %>
      <div>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      </div>
    </div>
    <section class="stats mt-4">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

